<div class="cont_card">
    <div class="first">
        <div class="user_info">
            <span class="material-symbols-outlined">
            account_circle
            </span>
            <div>
                <p>Alen Walker</p>
                <P class="user_date">August 23</P>
            </div>
        </div>
        <div class="menu-item">
            <span class="material-symbols-outlined">more_vert</span>
        </div>
    </div>

    <div class="second">
        <p class="head1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="small_head">
            in your growing head
        </p>
        <p class="head2">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti asperiores ea non vel iusto, eum nam nesciunt quos recusandae voluptatibus esse! Neque numquam dignissimos consectetur odit ipsum officiis tempora! Cupiditate.
        </p>
    </div>

    <div class="third">
        <div>
            <button><span class="material-symbols-outlined">
                thumb_up
            </span></button>
            <button><span class="material-symbols-outlined">
                thumb_down
            </span></button>
        </div>
        
        <button>
            <span class="material-symbols-outlined">
                share
            </span>
        </button>
    </div>
</div>
<hr class="line">

<div class="fourth">
    
    <p class="headc">Comments</p>
    <textarea class="commentarea" name="commentarea" id=""  placeholder="Write your thoughts..."></textarea>
</div>

<div class="fifth">
    <span class="material-symbols-outlined">
        photo_camera
    </span>
    <span class="material-symbols-outlined">
        videocam
    </span>
    <span class="material-symbols-outlined">
        publish
    </span>
    <span class="material-symbols-outlined">
        gif_box
    </span>
    <span class="material-symbols-outlined">
        add_reaction
    </span>
    <span class="material-symbols-outlined">
        forward_to_inbox
    </span>
</div>

<div class="sixth">
    <button class="cancelbtn">cancel</button>
    <button class="publishbtn">Publish</button>
</div>