<div class="right_first">
    <button><span class="material-symbols-outlined">chat</span>Comments</button>
    <button><span class="material-symbols-outlined" >notifications</span> Follow Posts </button>
</div>

<div class="right_second">
    <p><span class="material-symbols-outlined" >visibility
    </span> 33 Views</p>
    <p><span class="material-symbols-outlined">
        chat_bubble
    </span> 0 Comments</p>
</div>  

<div class="right_third">
    <p>Similar Posts</p>

    <div class="follow_links">
        <div class="que_cont">
            <p>Lorem ipsum dolor sit amet consectetur ?</p>
        </div>
        <div class="que_cont">
            <p>Lorem ipsum dolor sit amet consectetur ?</p>
        </div>
        <div class="que_cont">
            <p>Lorem ipsum dolor sit amet consectetur ?</p>
        </div>
    </div>
</div>