<!-- FILEPATH: /S:/NODEJS_SERVERS/birdio/views/login/login.ejs -->
<p class="register_head">Login</p>
<form action="/login" method="POST" class="loginbx">
    <input type="text" id="username" name="username" placeholder="Username" required><br><br>
    <input type="password" id="password" name="password" placeholder="Password"><br><br>
    <button class="logbtn" type="submit" >Login</button>
</form>
