<div class="homewrapper">
    <div class="query_box">
        <div class="searchdiv">
            <span class="material-symbols-outlined">
                account_circle
            </span>
            <input type="text" placeholder="Share your Opinion or thoughts ...">
        </div>
        <div class="query_option"> 
            <p><span class="material-symbols-outlined">live_help</span>Ask</p>
            <span> | </span>
            <p><span class="material-symbols-outlined">
                edit_document
                </span>Answer</p>
            <span> | </span>
            <p><span class="material-symbols-outlined">
                edit
            </span>Post</p>
        </div>
    </div>

    <div class="card_slider">
        <div class="card_cont">
            <div class="card_account">
                <div>
                    <span class="material-symbols-outlined">
                        account_circle
                    </span>
                    <div>
                        <span>
                            <p class="username_cont">Username</p>
                            <a href="#">follow</a>
                        </span>
                        
                        <p class="user_date">Time</p>
                    </div>
                </div>
                
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>

            <div class="showcase" onclick="window.location.href='/read-post'">
                <div class="showcase_content">
                    <p class="showcase_title">Develop with speed at any scale.</p>
                    <p class="showcase_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, eos? Omnis atque modi neque error molestiae? Autem aliquid, maiores unde officiis dolorem dolores nesciunt enim, labore aperiam, veniam doloribus animi.</p>
                </div>
            </div>

            <div class="postbtn">
                <span class="material-symbols-outlined">
                    thumb_up
                </span>
                <span class="material-symbols-outlined">
                    thumb_down
                </span>
                <span class="material-symbols-outlined">
                    comment
                </span>

                <span class="material-symbols-outlined">
                    replay
                </span>
            </div>

        </div>
        <div class="card_cont">
            <div class="card_account">
                <div>
                    <span class="material-symbols-outlined">
                        account_circle
                    </span>
                    <div>
                        <span>
                            <p class="username_cont">Username</p>
                            <a href="#">follow</a>
                        </span>
                        
                        <p class="user_date">Time</p>
                    </div>
                </div>
                
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>

            <div class="showcase" onclick="window.location.href='/read-post'">
                <div class="showcase_content">
                    <p class="showcase_title">Develop with speed at any scale.</p>
                    <p class="showcase_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, eos? Omnis atque modi neque error molestiae? Autem aliquid, maiores unde officiis dolorem dolores nesciunt enim, labore aperiam, veniam doloribus animi.</p>
                </div>
            </div>

            <div class="postbtn">
                <span class="material-symbols-outlined">
                    thumb_up
                </span>
                <span class="material-symbols-outlined">
                    thumb_down
                </span>
                <span class="material-symbols-outlined">
                    comment
                </span>

                <span class="material-symbols-outlined">
                    replay
                </span>
            </div>

        </div>
        <div class="card_cont">
            <div class="card_account">
                <div>
                    <span class="material-symbols-outlined">
                        account_circle
                    </span>
                    <div>
                        <span>
                            <p class="username_cont">Username</p>
                            <a href="#">follow</a>
                        </span>
                        
                        <p class="user_date">Time</p>
                    </div>
                </div>
                
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>

            <div class="showcase" onclick="window.location.href='/read-post'">
                <div class="showcase_content">
                    <p class="showcase_title">Develop with speed at any scale.</p>
                    <p class="showcase_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, eos? Omnis atque modi neque error molestiae? Autem aliquid, maiores unde officiis dolorem dolores nesciunt enim, labore aperiam, veniam doloribus animi.</p>
                </div>
            </div>

            <div class="postbtn">
                <span class="material-symbols-outlined">
                    thumb_up
                </span>
                <span class="material-symbols-outlined">
                    thumb_down
                </span>
                <span class="material-symbols-outlined">
                    comment
                </span>

                <span class="material-symbols-outlined">
                    replay
                </span>
            </div>

        </div>
    </div>
</div>