<div class="navbar">
    <img src="/img/logo/main_logo.png" alt="">
    <div class="navlinks">
        <a href="/">Home</a>
        <a href="/categories">Categories</a>
        <a href="/allposts">All Posts</a>
        <a href="/mypost">My Posts</a>
    </div>
    <div class="searchcont">
        <span class="material-symbols-outlined">search</span>
        <input type="text" placeholder="Search">
    </div>
    <div class="registerbtn">
        <a href="/login">Login</a>
        <span> | </span>
        <a href="/register">Register</a>
    </div>
</div>