<div class="navbar">
    <img src="/img/logo/main_logo.png" alt="">
    <div class="navlinks">
        <a href="/">Home</a>
        <a href="/categories">Categories</a>
        <a href="/allposts">All Posts</a>
        <a href="/mypost">My Posts</a>
    </div>
    <div class="searchcont">
        <span class="material-symbols-outlined">search</span>
        <input type="text" placeholder="Search">
    </div>

    <div id="accountopt">

    </div>
</div>

<script>
    const accountoptions = document.getElementById("accountopt")

    const logout = ()=> {
        localStorage.clear()
        window.location.reload()
    }

    if(localStorage.getItem("token")){
        accountoptions.innerHTML = `
        <div class="registerbtn">
            <a onclick="logout()">Logout</a>
        </div>
        `
    }
    else{
        accountoptions.innerHTML = `
        <div class="registerbtn">
            <a href="/login">Login</a>
            <span> | </span>
            <a href="/register">Register</a>
        </div>
        `
    }
</script>